body{
    font-family: 'Poppins';
}
/* section 1 */
.sec-1{
    max-width: 1088px;
    width: 95%;
    margin: 0 auto;
}
.sec-1-h h4{
    font-weight: 600;
    font-size: 0.8rem;
    color: #5863F8;
    text-transform: uppercase;
    margin: 4em 0 0.96em;
}
.sec-1-h h2{
    max-width: 378px;
    width: 100%;
    font-weight: 900;
    font-size: 2.6rem;
    color: #000000;
    margin-bottom: 1.8em;
}
.form{
    display: flex;
    justify-content: space-between;
}
.frm-lft{
    max-width: 720px;
    width: 100%;
    display: flex;
    margin-right: 0.7em;
}
.txt-area{
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
    color:black;
    padding: 1em 0 0 1.4em;
    font-family: 'Poppins';
    resize: none;
    border: 2px solid #E8E8E8;
}
.txt-area:focus{
    outline: none;
}
.frm-rght{
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
input[type='text'],
input[type='email']{
    padding: 1.44em 0 1.44em 1.2em;
    font-family: 'Poppins';
    background-color: #F8F8F8;
    margin-bottom: 1em;
    border-color: #E8E8E8;
    border: 2px solid #E8E8E8;
}
.frm-rght button{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #5863F8;
    font-family: 'Poppins';
    border: none;
    transition: 0.3s;
}
.frm-rght button:hover{
    opacity: 95%;
    color: #000000;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.cntc-box{
    max-width: 362px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cntc-box i{
    width: 3.6em;
    height: 3.6em;
    border-radius: 50%;
    color: white;
    background-color: #5863F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cntc-box h5{
    font-weight: 600;
    font-size: 1.02rem;
    margin: 1em 0 0.3em;
}
.cntc-box span{
    font-weight: 400;
    font-size: 0.8rem;
    color: #B1B1B1;
    letter-spacing: 0.2;
    line-height: 1.4;
}
/* section 1 end */
/* section 2 */
.sec-2{
    max-width: 1088px;
    width: 95%;
    margin: 0 auto;
}
.sec-2 h4{
    font-weight: 600;
    font-size: 0.8rem;
    color: #5863F8;
    text-transform: uppercase;
    margin: 10em 0 0.96em;
}
.sec-2 h2{
    max-width: 565px;
    width: 100%;
    font-weight: 900;
    font-size: 2.6rem;
    color: #000000;
    margin-bottom: 1.8em;
}
.sec-2-img{
    max-width: 1261px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.img-box{
    max-width: 352px;
    width: 100%;
}
.img-box img{
    width: 100%;
}
.mrgn{
    margin: 0 1em;
}
/* section 2 end */
/* footer */
footer{
    background-color: #121212;
    padding: 5.6em 0 7.1em;
    margin-top: 0.5em;
}
.ftr-wrp{
    max-width: 1026px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.ftr-lft{
    max-width: 260px;
    width: 100%;
    margin-right: 2em;
}
.ftr-lft h3{
    font: 600 1.5rem 'Poppins';
    color: #FFFFFF;
}
.ftr-lft p{
    font: 500 0.9rem 'Poppins';
    color: #B1B1B1;
    margin: 2em 0;
}
.ftr-i{
    display: flex;
}
.ftr-i a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    background-color: #3B5998;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftr-i a:nth-child(1){
    background-color: #3B5998;
}
.ftr-i a:nth-child(2){
    background-color: #55ACEE;
    margin: 0 0.8em;
}
.ftr-i a:nth-child(3){
    background-color: #DC4E41;
}
.ftr-rght{
    max-width: 572px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ftr-rght h6{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 2em;
}
.ftr-rght a{
    font-size: 0.9rem;
    font-weight: 500;
    color: #5863F8;
    line-height: 2;
    transition: 0.3;
}
.cntct-info li{
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 2.5;
}
.cntct-info i{
    color: #5863F8;
    font-size: 1.2rem;
    vertical-align: middle;
    letter-spacing: 0.3em;
}
.ftr-rght a:hover{
    color: white;
    /* opacity: 50%; */
}


